.App {
  position: relative;
  height: 100vh;
  max-width: 600px;
  box-sizing: border-box;
  padding: 1rem 0;
  margin: auto;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app__logo {
  width: 100px;
  height: auto;
}

.app__message {
  max-height: calc(100vh - 23rem);
  overflow: auto;
}

.app__form {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  width: calc(100% - 40px);
  max-width: 560px;
  padding: 10px;
  margin: 20px;
  border-radius: 6px;

  background-color: #e9e9eb;
  z-index: 2;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__formControl > div {
  flex: 1;
}

.app__formControl button {
  flex: 0;
}

.MuiCardContent-root {
  padding: 8px 16px !important;
}
